/* for the whole page */
* { box-sizing: border-box; }
body{
    margin:0;
}
/* for the header */
header{
    padding-top:4%;
    background-color: grey;
    width: 100%;
}
header h1{
    text-align: center;
    padding-bottom:3%;
    margin-bottom:0;
}
/* for the navigation menu */
nav { text-align: right;
    background-color: lightskyblue;
    margin: 0;
    padding-top: 0.5em; 
    padding-bottom: 2em;
    padding-right: 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 3%;
}
nav ul { list-style-type: none;
    margin: 0;
    padding-right: 2em;
    font-size: 1.2em; }
nav li { display: inline;
   padding-left: 2em; }
nav a { text-decoration: none; }
nav a:link { color: #fff; }
nav a:visited { color: seagreen; }
nav a:hover { color: red; }
/* for the middle of the page */
.middle{
    text-shadow: springgreen;
    padding-top:1%;
    padding-left:1%;
    background-color: whitesmoke;
}
/* for info section */
.info h3{
    margin-top:0;
}
.img1{
        background-image: url(me\ with\ suit.png);
		background-repeat: no-repeat;
        background-size: cover;
        margin-left:70%;
        height:200px;
        width: 10%;
        clear:both;
}
.info p,img{
    padding-left:2%;
    float:left;
    width: 50%;
}
/* for hobbies section */
.para1{
    float:left;
    width:45%;
    padding-left: 2%;
	padding-right: 3%;
}
.img2{
    background-image: url(catapprove.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:200px;
    width: 12%;
    margin-top:10%;
    margin-left:37%;
    clear:both;
}
/* for links section */
.links{
    padding-bottom:1%;
}
.links ul{
    list-style-type:upper-roman;
    margin-bottom: 0;
}
/* for the footer */
footer{
    padding-top:1%;
    background-color: seagreen;
    text-align: center;
    padding-bottom: 1%;
}
footer span{
    padding-left:1%;
}
footer p, h4{
    margin:0;
}
/* for left galary */
.left{
    float:left;
    width: 50%;
    padding-top:2%;
    padding-left: 2%;
	padding-right: 2%;
    font-weight: bold;
    font-size: larger;
}
/* for right galary */
.right{
    float:left;
    width: 50%;
    padding-top:2%;
    padding-left: 2%;
	padding-right: 2%;
    font-weight: bold;
    font-size: larger;
}
/* for middle galary */
.mid{
    float:left;
    width: 50%;
    padding-top:2%;
    padding-left: 2%;
	padding-right: 2%;
    font-weight: bold;
    font-size: larger;
    margin-left:25%;
}
/* for the whole galary */
.float1{
    padding-left:7%;
}
.float1 img{
    padding-left:0;
    margin-left:0%;
    width: 80%;
}
.float1 p{
    margin-bottom:0;
    margin-top:0;
}