h1
{
    background-color: #80CBC4;
    color: white;
    background-image: url(sunrise.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-indent:2em;
    padding:4em;
    height:200px;
}
h1, h2{
    margin-top: 0;
    margin-bottom: 0;
}
h2
{
    padding-top:20px;
}
nav
{
    position:fixed;
    width:100%;
    text-align:right;
    background-color: #F5F5F5;
}
#menu
{
    padding-right:50px;
}
body
{
    background-color: #F5F5F5;
    color: #40407A;
}
#div1
{
    padding-left:100px;
    padding-right:100px;
    background-color: #40407A;
}
#div2
{
    padding-left:20px;
    background-color: #F5F5F5;
}
#d1
{
    float:left;
    width: 31%;
    padding-left: 2%;;
}
dd
{
    margin-left:0;
}
footer
{
    color: #40407A;
    padding-left:40%;
    padding-top:20%;
    height:100%;
}