h1
{
    background-color: #80CBC4;
    color: #40407A;
    background-image: url(lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
    text-indent:2em;
    padding:2em;
}
nav
{
    padding-left: 300px;
}
body
{
    background-color: #F5F5F5;
    color: #40407A;
}
#home
{
    background-image: url(yogadoor.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
footer
{
    background-color: #80CBC4;
    color: #40407A;
    padding-left: 300px;
}