h1
{
    background-color: #80CBC4;
    color: white;
    background-image: url(sunrise.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-indent:2em;
    padding:4em;
    height:200px;
}
nav
{
    padding-left:1580px;
}
body
{
    background-color: #F5F5F5;
    color: #40407A;
}
#div1
{
    padding-left:100px;
    padding-right:100px;
    background-color: #40407A;
}
#div2
{
    padding-left:20px;
    background-color: #F5F5F5;
}
footer
{
    color: #40407A;
    padding-left:600px;
}